
footer {
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 232px;
    width: 100vw;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.contato-icone {
    display: flex;
    align-items: center;
    width: fit-content;
}

.img-logo-codechella {
    height: 64px;
    margin-top: 40px ;
}

.rede-social {
    
    display: flex;
    margin-bottom: 40px;
    
       
}

.rede-social p {
    width: fit-content;
    padding: 0;
    
}

.icone {
    width: 32px;
    margin: 0px 2px
}

.autoria {
    margin-top: 60px;
    margin-bottom: 60px;
}
.autoria p {
    padding: 0px 20px;
 }

 @media screen and (max-width: 1240px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
 
    }

    .img-logo-codechella {
        height: 64px;
        margin: 0;
    }
   
    .rede-social {
        display: flex;
        margin: 0;
    
           
    }

    .autoria {
        display: flex;
        flex-direction: row;
        margin: 0px;
        text-align: center;
        padding: 0px;
        
    }

    .autoria p {
        padding: 0px 10px;
        font-size: 1.25em;
    }



 }

 @media screen and (max-width: 765px) {
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 20px;
    }
    .rede-social {
        display: block;
        margin: auto;
        
        
    }
    .contato-icone {
        margin: auto;
    }
    .autoria {
        display: block;
        margin: auto;
    }
    .autoria p {
        margin: auto;
        padding: 0px;
    }
   

 }