*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

:root {
    --cor-principal: #830a0a;
    --cor-secundaria: #000;
    --cor-terciaria: #fff;
    --cor-neutra: #b9b9b9;
    --fonte-titulo: 'Calistoga', 'cursive';
    --fonte-texto: 'Raleway', sans-serif;
}


main {
    width: 100vw;
    background-image: linear-gradient(to Bottom, var(--cor-secundaria), var(--cor-neutra), var(--cor-secundaria));
    
}

.banner {
    width: 100vw;
    height: 407px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),url(../imagens/espaço.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

h1 {
    width: 542px;
    font-family: var(--fonte-titulo);
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: auto ;
    
}

.container {
    width: 1240px;
    margin: 64px auto 0px auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}
#trio-banda {
    width: 480px;
    height: 380px;
    border-radius: 16px;
    margin: auto;
    object-fit: cover;
    
}

#experiencia {
    width: 540px;
    color: white;
    margin: auto;
    
}

#experiencia h6 {
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 2rem;
    font-weight: bold;
    margin: 20px auto 24px auto;
}

#experiencia p {
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
    padding: 20px;
}

.btn-ingresso {
    background-color: var(--cor-principal);
    width: 250px;
    height: 56px;
    border-radius: 16px;
    border-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 4px 4px black;
    margin: auto;
    font-weight: bold;
    font-size: 1em;
    
}

#experiencia a {
    text-decoration: none;
}
.btn-ingresso:hover {
    cursor: pointer;
}

#atracoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

}

#atracoes ul {
    width: 1200px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;  
    margin-top: 32px;
}

#atracoes li {
    margin: auto;
}

h2 {
    font-size: 3rem;
    line-height: auto;
    font-family: var(--fonte-titulo);
    padding: auto;
    margin-top: 48px;
    
}

h3 {
    font-size: 3rem;
    line-height: auto;
    font-family: var(--fonte-titulo);
    padding: 16px 16px;
    background-color: var(--cor-principal);
    margin: auto;
    width: max-content;
        
}

h4 {
    font-size: 2rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    font-weight:normal;
    padding: 16px 4px;

}

h5 {
    font-size: 2.5rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    padding: 16px 0px;
    

}

h6 {
    font-size: 2rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    padding: 16px 0px;

}


p {
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    line-height: 40px;
    padding: 16px 24px;
}

.foto-banner2 {
    width: 100vw;
    height: 338px;
    background-image: url(../imagens/banner2-360.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1240px) {
  

    .banner {
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 648px;
        
    }

    #trio-banda {
        margin: auto;
        
    }

    #experiencia {
        margin: auto;
        
    }

    #atracoes ul {
        width: 648px;
    }

    #sabado h4 {
        margin: auto 20px;
    }

    #atracoes li {
        margin: 0px auto;
        padding: 0;
    }
}

@media screen and (max-width: 765px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 312px;
        
    }

    #trio-banda {
        margin: auto;
        width: 312px;
        height: 381px;
        object-fit: cover;
    }

    h1 {
        font-size: 2rem;
        width: auto;
    }

    h3 {
        font-size: 2rem;
        width: auto;
    }

    #experiencia {
        width: 312px;
        margin: auto;
        
    }

    #atracoes ul {
        width: 312px;
    }

    #atracoes li {
        padding: 16px auto;
    }

    h6 {
        width: 312px;
        margin: auto;
        padding: 16px 0px;
    }
}


