*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

:root {
    --cor-principal: #4650BD;
    --cor-secundaria: #304968;
    --cor-terciaria: #36C1A0;
    --cor-neutra: #B6BCFF;
    --fonte-titulo: 'Calistoga', 'cursive';
    --fonte-texto: 'Raleway', sans-serif;
}


main {
    width: 100vw;
    background-image: linear-gradient(to Bottom, #304968, #36c1a0, #4650bd );
    
}

p {
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    line-height: 40px;
    padding: 16px 24px;
}


.banner-setores {
    width: 100vw;
    height: 407px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(../imagens/banner-setores.jpeg);
    background-size: cover;
    background-position: bottom;
    display: flex;
}




h1 {
    width: 542px;
    font-family: var(--fonte-titulo);
    font-size: 4em;
    line-height: 83px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: auto ;
    
}

.container {
    margin: 64px auto 0px auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}
#foto-1 {
    width: 648px;
    margin: auto;
    
    
}

.container>ul {
    list-style-image: url();
    font-family: var(--fonte-texto);
    font-size: 1.25em;
}

li {
    display: flex;
    align-items: center;
}
li>div {
    width: 32px;
    height: 32px;
    margin: 14px 20px;
}
li>#pista-premium {
    background-color:#0E7DF1;
}
li>#pista-comum {
    background-color: #FE016E;

}
li>#cadeiras-terreo {
    background-color: #01A89E;

}
li>#cadeiras-superiores {
    background-color: #3F51B5;

}
li>#rampas {
    background-color: #0E7DF1;

}

#legendas {
    width: 540px;
    color: white;
    
}

.container {
    color: white;
}

#container-detalhes {
    margin: auto;
    display:block;
}
h6{
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 2em;
    font-weight: bold;
    margin: 20px auto 24px auto;
}



p {
    font-family: var(--fonte-texto);
    font-size: 1.25em;
    font-weight: normal;
    line-height: 170%;
    padding: 20px;
}

#legendas p {
    text-align: left;
}


.detalhes {
    width: 383px;
    text-align: center;
}

.detalhes-setores {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.foto-detalhes {
    width: 382.4px;
    height: 239px;
    border-radius: 16px;
    object-fit: cover;
}


#foto-2-setor {
    
    margin-top: 100px;
}



@media screen and (max-width: 1240px) {
  

    .banner-setores {
        display: flex;
    }

    .container {
        display: block;
        width: 648px;
        
    }

    #legendas {
        margin: auto;
        
    }

    #legendas li {
        margin: auto;
        width: 200px;
    }

    
    .detalhes-setores {
        
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .detalhes {
        
        width: 648px;
        margin: auto;
        
    }

    #foto-2-setor {
        margin: 0px;
    }

    
}

  
@media screen and (max-width: 765px) {
    .container {
        display: block;
        width: 312px;
        text-align: center;
        
    }

    .foto-detalhes, #foto-1 {
        margin: auto;
        width: 312px;
        object-fit: cover;
    }

    h1 {
        font-size: 2rem;
        width: auto;
    }

    h3 {
        font-size: 2rem;
        width: auto;
    }

    #legendas {
        width: 312px;
        margin: auto;
        
    }

    #legendas li {
        margin: auto;
        width: 312px;
    }


    .detalhes {
        
        width: 312px;
        margin: auto;
        
    }

    #foto-2-setor {
        margin: 0px;
    }
    
}