*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

:root {
    --cor-principal: #4650BD;
    --cor-secundaria: #304968;
    --cor-terciaria: #36C1A0;
    --cor-neutra: #B6BCFF;
    --fonte-titulo: 'Calistoga', 'cursive';
    --fonte-texto: 'Raleway', sans-serif;
}

main {
    width: 100vw;
    background-image: linear-gradient(to Bottom, var(--cor-terciaria) 70%, var(--cor-secundaria) );
    
}
.container {
    padding-bottom: 10px ;
}

p {
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    line-height: 40px;
    padding: 16px 24px;
}


.banner-ingresso {
    width: 100vw;
    height: 407px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../imagens/banner-ingresso.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
}


h1 {
    font-family: var(--fonte-titulo);
    font-size: 4em;
    line-height: 83px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: auto ;
    
    
}

h3 {
    font-size: 3rem;
    line-height: auto;
    font-family: var(--fonte-titulo);
    padding: 16px 24px;
    margin: auto;
    width: max-content;
    color: white;
        
}

.principal__formulario {
    margin: 0px auto;
    width: 795px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0px auto;
  
}


.campo__etiqueta {
    font-size: 1.5em;
    color: white;
}

.campo__escrita {
    width:795px ;
    height: 48px;
    
}

.campo__escrita--menor {
    width: 380px;
    
    
}

.botao {
    margin: auto;
}
.btn-ingresso {
    margin: 40px auto;
    background-color: var(--cor-principal);
    width: 170px;
    height: 56px;
    border-radius: 16px;
    border-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 4px 4px black;
    font-weight: bold;
    font-size: 1em;
}

.btn-ingresso:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  

@media screen and (max-width: 1240px) {
  

    .banner-ingresso {
        display: flex;
    }

    .container {
        display: block;
        justify-content: center;
        
   
    }

    .principal__formulario {
        margin: 0px auto;
        width: 648px;
        display: block;
        
        
    }
    
    .formulario__campo {
        display: flex;
        flex-direction: column;
        border: none;
        margin: 10px auto;
      
    }

    .campo__escrita {
        width:648px;
        height: 48px;
    }    
    
    .campo__escrita--nascimento {
        width:380px;
        height: 48px;
        
    }

}

 
@media screen and (max-width: 765px) {
    .banner-informacoes {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    
    }
    
    
    .container {
        display: block;
        width: 312px;
        margin: auto;
        padding-bottom: 48px;

   
    }
    h1 {
        font-size: 2rem;
        
    }

    h3 {
        font-size: 2rem;
        width: auto;
        margin: auto;
        text-align: center;
    }

    .principal__formulario {
        margin: 0px auto;
        width: 312px;
        display: block;
        
        
    }
    
    

    .campo__escrita {
        width:312px;
        height: 48px;
    }    

    

 
}