*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor1: #4650BD;
    --cor2: #304968;
    --cor3: #36C1A0;
    --cor4: #4650BD;
    --fonte-titulo: 'Calistoga', 'cursive';
    --fonte-texto: 'Raleway', sans-serif;
}

h1 {
    font-size: 4rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    padding-left: 24px;
    padding-right: 24px;
}

h2, h3 {
    font-size: 3rem;
    line-height: auto;
    font-family: var(--fonte-titulo);
    padding: 16px 24px;
    padding: 64px 24px;
    
}

h4 {
    font-size: 2rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    font-weight:normal;
    padding: 16px 24px;

}

h5 {
    font-size: 2.5rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    padding: 16px 24px;

}

h6 {
    font-size: 2rem;
    font-family: var(--fonte-texto);
    line-height: auto;
    padding: 16px auto;

}


p {
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    line-height: 40px;
    padding: 16px 24px;


}
header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 128px;
    gap: 50px;
    background-color: var(--cor1);
    
}

.logo-codechella {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-logo-codechella {
    width: 234px;
}



#menu{
    width: 193px;
    background-color: var(--cor1);
    margin-left: 167px;
    margin-top: 80px;
    
    
}
.active {
    display: none;
}

#menu li {
    list-style: none;
    padding: 5px;
    text-align: center;
    
}

#menu a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    
    
}

#menu a:hover {
    background-color: #304968;
}


#menu a::after {
    margin: auto;
    content: '';
    width: 146px;
    height: 3px;
    display: block;
    background: white;
    margin-top: 5px;
}
#menu li {
    list-style: none;
    padding: 5px;
    text-align: center;
    
}

#menu a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    
    
}

#menu a:hover {
    background-color: #304968;
}


#menu a::after {
    margin: auto;
    content: '';
    width: 146px;
    height: 3px;
    display: block;
    background: white;
    margin-top: 5px;
}

.btn-mobile {
    display: flex;
    margin: 44px 24px;
    background: none;
    border: none;
    cursor: pointer;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

#hamburger {
    width: 28px;
    border-top: 3px solid;
    border-color: white;
}

#hamburger::after, #hamburger::before {
    content: '';
    width: 28px;
    height: 3px;
    display: block;
    background: white;
    margin-top: 5px;
}


main {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor3), var(--cor4) );
    color: white;
    
}

.banner {
    margin: auto;
    display: flex;
    height: 270px;
    max-width: 100vw;
    background-image: url(../imagens/bg-banner1-360.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner h6 {
    color: white;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    margin: auto;
    line-height: 42px;
}

.container {
    margin: 32px 0px;
 }

#trio-banda {
    height: 381px;
    width: 312px;
    background-image: url(../imagens/foto-trio-sabado-360.jpeg);
    background-size: cover;
    background-position: center;
    margin: 32px auto;
    border-radius: 16px;
}

.ingresso {
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor4);
    border-radius: 16px;
    border: none;
    height: 56px;
    width: 312px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.336);
}

.ingresso:hover {
    background-color: #606ADA;
}

.ingresso p {
    padding: 0px 24px;
}

.material-symbols-outlined { 
    padding: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
 }


.container p {
    text-indent: 20px ;
}

.container ul {
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
}


.date {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    background-color: #008364;
    width: 312px;
    
    padding: 20px auto;
    margin: auto;
}




.foto-banner2 {
    margin: auto;
    width: 360px;
    height: 338px;
    background-image: url(../imagens/banner2-360.jpeg);
    background-size: cover;
    background-position: center;
}

.banner-redes {
    display: flex;
    width: 312px;
    height: 152px;
    Padding: 20px 24px 32px 24px;
    margin: auto;
    justify-content:center;
    flex-direction: column;

}

.banner-redes p {
    text-align: center;
    font-family: var(--fonte-texto);
    color: white;
    font-size: 20px;
    line-height: 40px;

}

.rede-social{
    display: flex;
    justify-content: center;
    gap: 8px;
    width:152px;
    height: 32px;
    align-self: center;
}

.icone {
    width: 32px;
    height: 32px;
    margin: auto;
}

footer {
    background-color: var(--cor1);
    justify-content: center;
    
}

footer p {
    width: 312px;
    font-family: var(--fonte-texto);
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    padding: 24px;
    margin: auto;

}


