@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
}
header {
    background-color: #22060A;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 80px;
    padding: 10px 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.menu a {
    padding: 0px 10px ;
    font-size: 1em;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.507);
    padding: 10px;
    border-radius: 5px;
} 

main {
    margin: auto;
    font-family: Helvetica, sans-serif;
}



.intro {
    padding-top: 80px;
    background-image: url(../imagens/bg-intro.svg);
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'League Gothic', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px  ;
}

.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.contato {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
}

.contato > p {
    padding-left: 10px ;
}

.espaco {
    background-image: url(../imagens/bg-espaco.svg);
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px;
}

.espaco h1 {
    padding: 20px;
    width: 300px;
    font-family: 'League Gothic', sans-serif;
    font-size: 42px;
    background-color: rgba(0, 0, 0, 0.418);
}

.servicos {
    background-image: url(../imagens/bg-servicos01.svg);
    background-size: cover;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    gap: 100px
    ;
}


.corte {
    padding: 20px ;

}

.corte p {
    width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.171);

}

.barba {
    padding: 20px ;

}

.barba p {
    width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.171);

}

.tratamento {
    padding: 20px ;

}

.tratamento p {
    width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.171);

}

.produtos {
    background-image: url(../imagens/bg-produtos.svg);
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 140px;
    align-items: center;
}

.produtos p {
    width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.produto-pomada p {
    margin-top: -60px;
    padding-bottom: 40px;
}

.agenda-curso-container {
    background-color: black;
    display: flex;
    color: white;
}

.agenda-curso-container h2 {
    
}
.agenda-curso-container img {
    scale: 0.75;
} 

footer {
    background-color: #22060A;
    display: flex;
    padding: 40px;
}

